# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build

# NestJS
dist/
*.tsbuildinfo

# Environment Variables
.env
.env.*
!.env.example
!.env.local.example

# OS / Logs
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Database / Local data
data/db
*.sqlite
*.sqlite3

# Cloudflared credentials
.cloudflared/
*.json
!package.json
!tsconfig.json
!components.json
!nest-cli.json
!oxlint.json

# IDE
.idea/
.vscode/
*.swp
*.swo
